<!DOCTYPE html>
<html lang="en"
    <head>
        <meta charset="utf-8"
        <title>Basic HTML Template</title>
        <link rel="stylesheet" href="css/basic_style.css">
    </head>
    <body>
        <div>
            <h1>Basic CSS Demo</h1>
        </div>

        <div class="container">
            <div class="squares">
                <p>Box 1</p>
            </div>

            <div class="squares">
                <p>Box 2</p>
            </div>

            <div class="squares">
                <p>Box 3</p>
            </div>

            <div class="squares">
                <p>Box 4</p>
            </div>
        </div>

    </body>
</html>
body{
    background-color: #fff;
}

h1{
    color: rgba(8, 141, 165, 1);
    margin-left: 100px;
    text-shadow: 1px .5px 4px rgba(0, 0, 0, 0.6);
}
.container{
    width: 450px;
    height: 450px;
    background-color: #faebd7;
    border: 2px solid black;
    border-radius: 5%;
}
/*---------------------------------------------
    SELECT ALL SQUARES IN THE ARRAY
    ----------------------------------------*/
    .container .squares:nth-child(-n+4){
        background-image: url("../images/icons/icons2.png");
        color: #fff;
        float: left;
        width: 100px;
        height: 100px;
        margin: 5px;
        border: 1px solid black;
        border-radius: 25%;
        cursor: pointer;
        transition: transform .5s ease-in-out;
}

/*-------------------------------------------------
    SELECT ALL SQUARES PARAGRAPHS IN THE ARRAY
-------------------------------------------------*/
.squares:nth-child(-n+4) p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.8);
/*---------------------------------------------------
    INDIVIDUALLY SELECT A SQUARE IN THE ARRAY
----------------------------------------------------*/
.squares:nth-child(1){
    background: #4240ff;
}

.squares:nth-child(2){
    background: #ab3fdd;
}

.squares:nth-child(3){
    background: #ae163e;
}

.squares:nth-child(4){
    background: #00b200;
}

/*-----------------------------------------------------
    HOVER, TRANSLATE & TRANSFORM EFFECTS
-----------------------------------------------------*/
.container .squares:nth-child(-n+4):hover{
    background-image: url("../images/icons/icons.png");
    transform: scale(.5);
    animation-name: race;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(2.5, .2, .3, 2);
}

.squares:nth-child(1):hover {
    background: #13b4ff;
}

.squares:nth-child(2):hover {
    background: #d861af;
}

.squares:nth-child(3):hover {
    background: #81205f;
}

.squares:nth-child(4):hover {
    background: #77b800;
}

/*----------------------------------------------------------
    ANIMATION EFFECT
------------------------------------------------------------
@keyframes race {
    0%, 100% {
        transform: translateY(0px);
        background-image: url("../images/icons/icon.png")
    }
    50% {
        transform: translateY(300px);
    }
}
body {
    background: #184352;
}

.wrap {
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}

.menu-container {
    top: 0;
    left: 0;
    /*To the top edge of the screen*/
    position: absolute;
    width: 100%;
    background-color: #184352
}

.menu {
    font: bold 12px/18px sans-serif;
    text-align: center;
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    color: #b3b3bb
    display: inline-block;
    margin-right: -2px;
    position: relative;
    padding: 12px 40px;
    border: 1px solid #9D9FA2;
    border-radius: 1.5px;
    background-color: #387593;
    cursor: pointer;
}

.menu li:hover {
    background-color: #5EAFDF;
    color: #fff
}

.menu li:hover ul{
    display: block;
    opacity: 1;
    /*While hovered, drop down-menu appears
    This also avoids a block-level bug*/
    visibility: visible;
}

.submenu {
    padding: 0;
    left: 0;
    position: absolute;
    top: 43.5px;
    width: 125.5px;
    opacity: 0;
    /*While not being hovered, drop down-menu hides 
    This also avoids a block-level bug*/
    visibility: hidden;
}

.submenu li{
    background-color: #387593
    display: block;
    color: #B3B3B3;
}

.submenu li:hover{
    color: #fff;
    background-color: #5EAFDF;
}